<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBCD3EM7YEHgqaFPiwsCSRR6qfyNvSMFWo</string>
	<key>GCM_SENDER_ID</key>
	<string>136098208324</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aimobility.aiMobilityAssistant</string>
	<key>PROJECT_ID</key>
	<string>ai-mobility-assistant-capstone</string>
	<key>STORAGE_BUCKET</key>
	<string>ai-mobility-assistant-capstone.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:136098208324:ios:7cdca5afa07d3791c3ba11</string>
</dict>
</plist>